body {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  background-image: url("../images/header-bg.jpg");
  height: 931px;
  background-position: center top;
  background-size: cover;
  min-height: 640px;
  color: #fff;
  font-family: "montserrat", sans-serif;
}

header .logo_and_nav {
  margin-top: 50px;
}

header .logo_and_nav .logo {
  display: block;
  color: #ff7200;
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
  font-size: 25px;
  border: solid 1px #fff;
  text-align: center;
  width: 122px;
}

header .logo_and_nav .nav {
  display: inline-block;
  float: right;
  margin: 0;
  text-transform: uppercase;
}

header .logo_and_nav .nav ul {
  list-style-type: none;
}

header .logo_and_nav .nav ul li {
  display: inline-block;
  margin-right: 62px;
}

header .logo_and_nav .nav ul li:last-child {
  margin-right: 0;
}

header .logo_and_nav .nav ul a {
  color: #fff;
}

header .logo_and_nav .nav ul a:active {
  color: #ff7200;
}
